<div class='row'>
    <div class='col-12'>
        <div class="media">
            <img src="<%=@guild_image%>" class="align-self-start mr-3 rounded-circle" alt="...">
            <div class="media-body">
                <h3 class="mt-0"><%=@guild["name"]%></h3>
                <p>Welcome to your Server Management Page. From here you can create custom commands that will talk directly to bumpBot, in your server.</p>
                <p>You may also want to enable some of the given commands.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <%= bootstrap_form_with model: @guild_command, url: guild_guild_commands_path(@real_guild) do |f| %>
        <div class="form-row">
            <div class="col-6">
                <%= f.text_field :command, prepend: @real_guild.prefix %>
            </div>
            <div class="col-6">
                <%= f.select :default_command_id, @select_options, disabled: "", selected: "" %>
            </div>
        </div>
        <div class="form-row" hidden>
            <div class="col-12">
                <%= render 'default_command_description', command: @fake_command %>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-12">
                <%= f.submit "Add Command", class: "btn btn-primary btn-block" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
<br>
<% if !@guild_commands.empty? %>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Command</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% @guild_commands.each do |command| %>
                        <tr>
                            <th></th>
                            <td><%= @real_guild.prefix + 
                                        command.command + (if !command.command_params.empty? 
                                            " {" + 
                                            command.command_params
                                                .map {|param| "#{param.param_key}:#{param.param_value}"}.join("}, {") + "}" 
                                        else
                                            ""
                                        end
                                    )
                                        
                                %></td>
                            <td><%= command.default_command.description %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>

